
#main .screen .gameboy {
	height: 660px;
	width: 960px;
	position: relative;	
	background:url('../images/canvasino_x.png') 0px 0px;
}

#controls {
	opacity: 0.5;
	width: 140px;
	height: 145px;
	border: 1px transparent solid;
	position: absolute;
	left: 15px;
	top: 235px;
}


#controls #left {
	background-color: transparent;
	position: absolute;
	width: 47px;
	height: 48px;
	left: 0px;
	top: 51px;
	
}

#controls #left:hover {
	background-image:url('../images/hover/hover_left.png');
	cursor: pointer;
}

#controls #left:active {
	background-image:url('../images/click/click_left.png');
	cursor: pointer;
}


#controls #top {
	background-color: transparent;
	position: absolute;
	width: 47px;
	height: 48px;
	left: 47px;
	top: 5px;
}

#controls #top:hover {
	background-image:url('../images/hover/hover_click.png');
	cursor: pointer;
}

#controls #top:active {
	background-image:url('../images/click/click_top.png');
	cursor: pointer;
}


#controls #right {
	background-color: transparent;
	position: absolute;
	width: 47px;
	height: 48px;
	left: 88px;
	top: 52px;	
}

#controls #right:hover {
	background-image:url('../images/hover/hover_right.png');
	cursor: pointer;
}

#controls #right:active {
	background-image:url('../images/click/click_right.png');
	cursor: pointer;
}

#controls #bottom {
	background-color: transparent;
	position: absolute;
	width: 47px;
	height: 48px;
	left: 42px;
	top: 97px;	
}

#controls, #buttonA, #buttonB {
	z-index: 200;
}

#controls #bottom:hover {
	background-image:url('../images/hover/hover_down.png');
	cursor: pointer;
}

#controls #bottom:active {
	background-image:url('../images/click/click_down.png');
	cursor: pointer;
}

canvas {
	background-color: white;
	filter:alpha(opacity=20); /* for IE*/
	opacity: 0.2;
	
	width:600px;
	height:450px;
	position:absolute;
	left: 180px;
	top: 150px;
}

#buttonA {
	background-color: transparent;
	width: 79px;
	height: 80px;
	position: absolute;
	right: 92px;
	top: 296px;	
}

#buttonA:hover {
	background-image:url('../images/hover/hover_A.png');
	cursor: pointer;
}

#buttonA:active {
	background-image:url('../images/click/click_A.png');
	cursor: pointer;
}

#buttonB {
	background-color: transparent;
	width: 79px;
	height: 80px;
	position: absolute;
	right: 13px;
	top: 242px;	
}

#buttonB:hover {
	background-image:url('../images/hover/hover_B.png');
	cursor: pointer;
}

#buttonB:active {
	background-image:url('../images/click/click_B.png');
	cursor: pointer;
}

