body {
    background-color: #005501;
    background-image:url('images/Roulett_Tisch_glow.png');
    background-repeat:no-repeat;
    background-size: 150% auto;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;	
}

div {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: moz-none;
    -ms-user-select: none;
    user-select: none;
}

.back {
    background-color: transparent;
    width: 150px;
    height: 71px;
    position: absolute;
    z-index: 1000;
    left: 20px;
    top: 65px;
    filter:alpha(opacity=50); /* for IE*/
    opacity: 0.5;
    -webkit-border-radius: 30px 0px 30px 0px;
    -moz-border-radius: 30px 0px 30px 0px;
    border-radius: 30px 0px 30px 0px;
    background-image:url('images/hover/hover_back.png');
}

.back:hover {
    background-image:url('images/hover/hover_back2.png');
    cursor: pointer;	
}

.back:active {
    background-image:url('images/hover/hover_back2.png');
    cursor: pointer;
}


#menu {	
    margin: auto;
    margin-top: 0px;	
    width: 960px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
}

#main {
    position: relative;
}

#intro {
    height: 540px;
}

#logo {
    background-image:url('images/logo.png');
    width: 450px;
    height: 91px;
    position: absolute;
    top: 18px;
    left: 38px;
}

.screen #game01, .screen #game02 {
    position: absolute;
    cursor: pointer;
    z-index: 10;
}

.screen #game01 {
    background-image:url('images/Spielmodul1.png');
    background-repeat:no-repeat;
    width: 345px;
    height: 146px;	
    top: 280px;
    left: 360px;
}

.screen #game02 {
    background-image:url('images/Spielmodul2.png');
    background-repeat:no-repeat;
    width: 368px;
    height: 171px;
    top: 400px;
    left: 580px;
}

div#game01:hover, div#game02:hover {
    border: 3px transparent dotted;
}

#footer {
    height: auto;
    background-color: white;
    opacity: 0.5;
    filter: alpha(opacity = 50);
    position: relative;
    border-top: 2px black solid;
    -moz-box-shadow: 3px 3px 3px black;
    -webkit-box-shadow: 3px 3px 3px black;
    box-shadow: 3px 3px 3px black;
    display: none;
}

#player {
    margin: 0 auto;
    width: 350px;
    height: 35px;
    padding-top: 10px;
}

#slider {
    text-align: center;
    opacity: 1.0;
    filter: alpha(opacity = 100);
    position: relative;
    width: 250px;
    margin:0 auto;
    float: left;
    margin: 2px 20px;
}


.controls { 
    display: inline-block;
}

.button {
    border: 1px solid #333; 
    background: #000; 
    color: #fff;
    padding: 5px;
    cursor: pointer;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    -khtml-border-radius: 8px;
    border-radius: 8px;
    opacity: 1.0;
    filter: alpha(opacity = 100);
}

.sound {
    width: 20px;
    height: 20px;
    background: #fff;
    background: url('images/volume-icons.png') 0px -25px no-repeat;
    float: left;
    cursor: pointer;
}

.mute{
    background-position: 0px 0px;
}

.volume { 
    width: 250px; 
}

.volume-value {
    color:#6B6A4F;
    padding-left: 10px;
    padding-top: 4px;
    float: left;
}	

.ui-slider-range {	
    border: 4px solid #6B6A4F;
    -moz-border-radius-topleft: 4px;
    -webkit-border-top-left-radius: 4px;
    -khtml-border-top-left-radius: 4px;
    border-top-left-radius: 4px;
    -moz-border-radius-bottomleft: 4px;
    -webkit-border-bottom-left-radius: 4px;
    -khtml-border-bottom-left-radius: 4px;
    border-bottom-left-radius: 4px;
    -moz-border-radius-topright: 4px;
    -webkit-border-top-right-radius: 4px;
    -khtml-border-top-right-radius: 4px;
    border-top-right-radius: 4px;
    -moz-border-radius-bottomright: 4px;
    -webkit-border-bottom-right-radius: 4px;
    -khtml-border-bottom-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

.ui-slider-handle {
    position: absolute;
    z-index: 2;
    width: 25px;
    height: 25px;
    cursor: pointer;
    background: url('images/handle.png') no-repeat 50% 50%;
    font-weight: bold;
    color: #1C94C4;
    outline: none;
    top: -3px;
    margin-left: -12px;
}


#main .screen .gameboy {
    height: 660px;
    width: 960px;
    position: relative;	
    background:url('images/canvasino_x.png') 0px 0px;
    top: 60px;
    margin-bottom: 60px;
}

#controls {
    opacity: 0.5;
    width: 140px;
    height: 145px;
    border: 1px transparent solid;
    position: absolute;
    left: 15px;
    top: 235px;
}


#controls #left {
    background-color: transparent;
    position: absolute;
    width: 47px;
    height: 48px;
    left: 0px;
    top: 51px;

}

#controls #left:hover {
    background-image:url('images/hover/hover_left.png');
    cursor: pointer;
}

#controls #left:active {
    background-image:url('images/click/click_left.png');
    cursor: pointer;
}


#controls #top {
    background-color: transparent;
    position: absolute;
    width: 47px;
    height: 48px;
    left: 47px;
    top: 5px;
}

#controls #top:hover {
    background-image:url('images/hover/hover_click.png');
    cursor: pointer;
}

#controls #top:active {
    background-image:url('images/click/click_top.png');
    cursor: pointer;
}


#controls #right {
    background-color: transparent;
    position: absolute;
    width: 47px;
    height: 48px;
    left: 88px;
    top: 52px;	
}

#controls #right:hover {
    background-image:url('images/hover/hover_right.png');
    cursor: pointer;
}

#controls #right:active {
    background-image:url('images/click/click_right.png');
    cursor: pointer;
}

#controls #bottom {
    background-color: transparent;
    position: absolute;
    width: 47px;
    height: 48px;
    left: 42px;
    top: 97px;	
}

#controls, #buttonA, #buttonB {
    z-index: 200;
}

#controls #bottom:hover {
    background-image:url('images/hover/hover_down.png');
    cursor: pointer;
}

#controls #bottom:active {
    background-image:url('images/click/click_down.png');
    cursor: pointer;
}
#backimage {
    position:absolute;
    left: 180px;
    top: 150px;
    z-index: -1;	
}
canvas {
    position:absolute;
    left: 180px;
    top: 150px;
}

#buttonA {
    background-color: transparent;
    width: 79px;
    height: 80px;
    position: absolute;
    right: 92px;
    top: 296px;	
}

#buttonA:hover {
    background-image:url('images/hover/hover_A.png');
    cursor: pointer;
}

#buttonA:active {
    background-image:url('images/click/click_A.png');
    cursor: pointer;
}

#buttonB {
    background-color: transparent;
    width: 79px;
    height: 80px;
    position: absolute;
    right: 13px;
    top: 242px;	
}

#buttonB:hover {
        background-image:url('images/hover/hover_B.png');
        cursor: pointer;
}

#buttonB:active {
    background-image:url('images/click/click_B.png');
    cursor: pointer;
}


#timer, #rotations, #currency {
    position: absolute;
    z-index: 2000;
    font-weight: bold;
    font-size: 20px;
}

#timer {
    top: 575px;
    left: 190px;
}

#currency {
    top: 550px;
    left: 190px;

}

#rotations {
    top: 575px;
    left: 630px;
}

#popup_fenster {
    background-color: transparent;
    /*filter:alpha(opacity=75);
    opacity: 0.75;*/
    width:600px;
    height:450px;
    position:absolute;
    left: 180px;
    top: 150px;
    z-index: 3000;
}

.gameboy {
    position: absolute;
}

/* Bildanimation Win Image */

@keyframes flow
{
    0%  {width: 40px; height: 0px;}
100% {width: 400px; height: 50px;}
}

@-webkit-keyframes flow /* Safari and Chrome */
{
    0%  {width: 40px; height: 0px;}
100% {width: 400px; height: 50px;}
} 

@-moz-keyframes flow /* Firefox */
{
    0%  {width: 0px; height: 0px;}
100% {width: 400px; height: 50px;}
}

#win_image {
    position: absolute;
    left: 100px;
    top: 80px;	
}


/* Bildanimation Game over */

@keyframes flow2
{
    0%  {width: 40px; height: 0px;}
100% {width: 400px; height: 50px;}
}

@-webkit-keyframes flow2 /* Safari and Chrome */
{
    0%  {width: 40px; height: 0px;}
100% {width: 400px; height: 50px;}
} 

@-moz-keyframes flow2 /* Firefox */
{
    0%  {width: 0px; height: 0px;}
100% {width: 400px; height: 50px;}
}


#game_over_image {
    position: absolute;
    left: 100px;
    top: 80px;	
}


#restart_cube {
    width: 250px;
    height: 150px;
    background-color: white;
    position: absolute;	
    left: 175px;
    top: 200px;
    background-color: #EEE9E9;
    -moz-box-shadow: 4px 4px 4px black;
    -webkit-box-shadow: 4px 4px 4px black;
    box-shadow: 4px 4px 4px black;
    border: 1px #696969 solid;
}

#restart_cube h2, #restart_cube p {
    text-align:center;
    font-family: Arial, Helvetica, sans-serif;
}

#restart_cube h2 {
    font-size: 20px;
    background-color: #CDC9C9;
    padding: 5px;
    padding-top: 10px; 
    padding-bottom: 10px;
}

#restart_cube p {
    font-size: 18px;
    padding-top: 30px;
    padding-left: 10px;
    padding-right: 10px;	
}



